@import "~bulma/sass/utilities/_all.sass";

* {
  // outline: 1px solid rgba(0, 0, 0, 0.16) !important; // back
}

.nuxt-link-exact-active {
  font-weight: bold;
}

.surr-flex-v-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uiflg {
  padding-top: 10%;
  padding-bottom: 10%;

  .card {
    padding: 2rem;
  }
}

.LoginBlock {
  .card {
    padding: 2rem;
  }
}

.uienter {
  padding-top: 10%;
  padding-bottom: 10%;
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
}

$nw_margin_01_main: 19.22%;
$nw_margin_02: 19.53%;
$nw_color_01_black: rgba(0, 0, 0, 0.85);
$nw_color_02: #ff7875ff;
$nw_header_h: 151px;

.stb_align_wh_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stb_align_h_center {
  display: flex;
  justify-content: center;
}

.stb_align_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "~bulma/bulma";
